/*
*   COLOR FONS: #925279
*   COLOR FOOTER MES FOSC: #754261
*   light gray: rgb(235, 233, 233)
*/

*{
    padding: 0;
    margin: 0;
}

.row{
    margin: 0;
    padding: 0;
}

a{
    color: darkslategrey;
    text-decoration: none;
}

a:hover{
    color: #62244c;
}

/*FONTS*/
@font-face {
    font-family: "Poiret One";
    src: url("../fonts/PoiretOne-Regular.ttf");
}

/*Font estil handwriting pels titols*/
.font_title{
    line-height: 40px;
    font-family: 'Oswald', sans-serif!important;
    font-size: 36px;
    font-weight: normal!important;
    margin-top: 50px;
    color: #62244c;
}

/*Font pels subtitols*/
.font_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    margin-top: 20px !important;
}

/*Font per pàrrafs*/
.font_parraf{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: darkslategrey;
}

.font_handwriting{
    font-family: 'Nothing You Could Do', cursive!important;
}


/*HEADER*/
#user_button{
    border: 1px solid whitesmoke;
    border-radius: 60%;
    color: whitesmoke;
    float: right;
    margin-right: 10px;
}

/*centrar  verticalment el logo i l'accés al registre*/
#first_line{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user button:hover{
    -webkit-box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41); 
    box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41);  
}

#user button i{
    font-weight: bold;
    font-size: 95%;
    color: whitesmoke;
}

#btn_search, #btn_subcr{
    color: whitesmoke;
    background-color: #925279;
    border-color: #925279;
}


/*CAROUSEL BANNER */
.carousel-caption {
    bottom: 30%;
    left: 42%;
    
}

.carousel-caption h5{
    font-family: 'Poiret One';
    font-size: 230%;
    color: #925279;
    font-weight: bolder;
    margin-bottom: 0px;
}


@media (max-width: 1078px) {
    .carousel-caption h5{
        font-size: 180%;
    }
}

@media (max-width: 870px) {
    .carousel-caption h5{
        font-size: 150%;
    }

    .carousel-caption{
        bottom: 20%;
    }
}

@media (max-width: 750px) {
    .carousel-caption h5{
        font-size: 100%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 65%;
    }
}

@media (max-width: 544px) {
    .carousel-caption h5{
        font-size: 70%;
    }

    .carousel-caption{
        bottom: 5%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 60%;
    }
}

@media (max-width: 428px) {
    .carousel-caption h5{
        font-size: 50%;
        
    }

    .carousel-caption{
        bottom: -5%;
    }

    #btn_subcr{
        font-size: 42%;
    }
}
  

.carousel-indicators{
    position: absolute;
    bottom: -36px;
}

#llib_cat, #llib_votos, #llib_nous {
    margin-left: 50px;
    margin-right: 50px;
}
  
.carousel-control-prev {
    margin-left: 0%;
}
  
.carousel-control-next {
    margin-right: 0%;
}


/*NAV CATEGORIES DESPRÉS L'SLIDE*/
#menu_categories{
    padding: 0;
}

#menu_drop_categories_home{
    background-color: #c37ea7;
}

#menu_drop_categories_home a:hover {
    background-color: #c37ea7;
    color: whitesmoke;
}

/*falta centrar*/
#nav_content a{
    padding: 10px 20px;
    height: inherit;
}

#nav_content a:hover, #nav_content .active{
    color: whitesmoke;
}

#nav_content li{
    height: 45px;
}

#nav_content li:hover, #nav_content .active{
    background-color: #915078;
}

.nav-pills{
    display: flex;
    justify-content: space-around;
}

#menu-nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px!important;
    background-color:#c37ea7;
}

#menu-nav li a{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

#menu-nav li a:hover{
    color: #62244c;
}


/*CARDS*/
.card{
    width: 200px;
    height: 425px;
    margin: auto;
    margin-top: 10%;
}

.card-title{
    min-height: 50px;
    font-size: 120%;
}

.cover_book{
    width: 199px;
    height: 250px;
    position: relative;
}

.cover_book img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.checked{
    color: orange;
}

.lookIcon{
    width: 17%;
    cursor: pointer;
}

#fitxa_llibres h4{
    color: #62244c;
    font-size: 18px;
}

#fitxa_llibres a{
    display: inline-block;
}


/*test*/
.align_text_bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/*FOOTER*/
footer{
    background-color: #925279;
    color: whitesmoke;
    margin-top: 3%;
}

footer p{
    margin-bottom: 0px;
    padding-top:3%;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

#copyright{
    background-color:#62244c;
}

#social i{
    font-size: 120%;
    cursor: pointer;
    width: 11%;
}

#social i:hover{
    transition: all 400ms;
    transform: scale(120%);
}


/*-- Mediaqueries --*/

.container-fluid{
    padding: 0px;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}


/*Fitxa Escriptor Especificacions*/

.imatge-avatar img{
    width: 150px;
    height: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#usuari-section{
    min-height: 300px;
    padding-top: 80px;
    padding-bottom: 20px;
}


/*estilos generales basicos guia de estilos*/
.primary{
    background-color: #915078;
    color: whitesmoke;
}

.p-light{
    background-color: #c37ea7;
    color: black;
}

.p-dark{
    background-color: #62244c;
    color: whitesmoke;
}

/*Fitxa escriptor
centra el text e la bio*/
#biografia_avatar p{
    margin: 15px;
}

#nickname-avatar h2{
    color: #c37ea7;
    font-size: 20px;
    font-weight: normal;
}

#llibres_publicats{
    margin-top: 50px;
}

/*DASHBOARD LECTOR*/
/* Profile container */
.profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .perfil-sidebar {
    padding: 20px 0 10px 0;
    border: 1px solid #dfdcdc;
    height: 100%;
  }
  
  .perfil-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .perfil-usertitol {
    margin-top: 20px;
  }
  
  .perfil-usertitol-nom {
    color: #62244c;
    font-family: 'Oswald', sans-serif!important;
    font-size: 150%;
    font-weight: 600;
  }
  
  .perfil-usertitol-rol {
    text-transform: uppercase;
    color: gray;
    font-size: 95%;
    font-weight: 600;
  }
  
      
  .perfil-usermenu {
    margin-top: 8%;
    margin-left: 20%;
    text-align: left;
  }
  
  .perfil-usermenu ul li {
    flex-basis: 100%;
    margin-top: 4px;
  }
  
  .perfil-usermenu ul li a {
    color: #925279;
    font-size: 90%;
    font-weight: 400;
    text-decoration: none;
  }
  
  .perfil-usermenu ul li a i {
    margin-right: 8px;
    font-size: 100%;
  }
  
  .perfil-usermenu ul li a:hover{
    color: #62244c;
  }

  
  /* Perfil Content */
  .perfil-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
/*FI DASHBOARD LECTOR*/

#llibres_publicats img{
    float: right;
}

.boto_llegeix{
    background-color: #c37ea7;
    border-color: none!important;
    color: whitesmoke;
}

.boto_llegeix:hover{
    background-color: #62244c;
    color: whitesmoke;
}

.card-header{
    background-color: #915078;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
}



/*Valoracions Estrelles*/
.fa.fa-star{
    color: lightgray;
}

.fa.fa-star.checked{
    color: rgb(238, 169, 41);
}


/*Panel de control de escritor*/
#hero_perfil{
    background-color: #62244c;
    height: 110px;
    color: white;
}


.text_title_hero{
    font-family: 'Oswald', sans-serif!important;
    font-size: 36px;
}

/*centrar el text del nom+nickname*/
#hero_perfil div{
    display: flex;
    align-items: center;
}

#side_menu,
#content_profile{
    border: 1px solid rgb(235, 233, 233);
    margin: 0 10px;
}

.container.perfil_escriptor{
    max-width: 1190px;
    padding: 60px 0;
}

.perfil_escriptor .col,
#side_menu{
    padding: 0!important;
}

#noms_escriptor h2{
    color: #62244c;
    font-size: 28px;
}

.text_nickname{
    color: #c37ea7;
    font-size: 18px;
    font-weight: 500;
}

.links_menu_escriptor:hover{
    background-color: #62244c!important;
    color: whitesmoke;
}

/*centrar tots els textos del menu*/
#menu_options_escriptor .text_cent_vert{
    display: flex;
    align-items: center;
}

/* Tabs ajustes */
.nav-pills .nav-link.active,
 .nav-pills .show>.nav-link{
    background-color: #62244c;
}

/*Treure el radius per defecte dels tabs de bootstrap*/
.nav-pills .nav-link{
    border-radius: 0;
}

#avatar_escriptor_area .form-check{
    display: inline-block;
}