/*
*   COLOR FONS: #925279
*   COLOR FOOTER MES FOSC: #754261
*/

*{
    padding: 0;
    margin: 0;
}

.row{
    margin: 0;
    padding: 0;
}

/*FONTS*/
@font-face {
    font-family: "Poiret One";
    src: url("../fonts/PoiretOne-Regular.ttf");
}

/*TITOLS*/
h3{
    margin-top: 5%;
}


/*HEADER*/
#user{
    background-color: #925279;
    text-align: right;
    height: 50px;
}

#user button {
	margin-right: 1.5%;
    border: 1px solid whitesmoke;
    border-radius: 60%;
}

#user button:hover{
    -webkit-box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41); 
    box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41);   
}

#user button i{
    font-weight: bold;
    font-size: 95%;
    color: whitesmoke;
}

#btn_search, #btn_subcr{
    color: whitesmoke;
    background-color: #925279;
    border-color: #925279;
}


/*CAROUSEL BANNER */
.carousel-caption {
    bottom: 30%;
    left: 42%;
    
}

.carousel-caption h5{
    font-family: 'Poiret One';
    font-size: 230%;
    color: #925279;
    font-weight: bolder;
    margin-bottom: 0px;
}


@media (max-width: 1078px) {
    .carousel-caption h5{
        font-size: 180%;
    }
}

@media (max-width: 870px) {
    .carousel-caption h5{
        font-size: 150%;
    }

    .carousel-caption{
        bottom: 20%;
    }
}

@media (max-width: 750px) {
    .carousel-caption h5{
        font-size: 100%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 65%;
    }
}

@media (max-width: 544px) {
    .carousel-caption h5{
        font-size: 70%;
    }

    .carousel-caption{
        bottom: 5%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 60%;
    }
}

@media (max-width: 428px) {
    .carousel-caption h5{
        font-size: 50%;
        
    }

    .carousel-caption{
        bottom: -5%;
    }

    #btn_subcr{
        font-size: 42%;
    }
}
  

.carousel-indicators{
    position: absolute;
    bottom: -36px;
}

#llib_cat, #llib_votos, #llib_nous {
    margin-left: 50px;
    margin-right: 50px;
}
  
.carousel-control-prev {
    margin-left: 0%;
}
  
.carousel-control-next {
    margin-right: 0%;
}



/*CARDS*/
.card{
    width: 200px;
    margin: auto;
    margin-top: 10%;
}

.checked{
    color: orange;
}

.lookIcon{
    width: 17%;
    cursor: pointer;
}


/*FOOTER*/
footer{
    background-color: #925279;
    color: whitesmoke;
    margin-top: 3%;
}

footer p{
    margin-bottom: 0px;
    padding-top:3%;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

#copyright{
    background-color:#754261;
}

#social i{
    font-size: 120%;
    cursor: pointer;
    width: 11%;
}

#social i:hover{
    transition: all 400ms;
    transform: scale(120%);
}


/*-- Mediaqueries --*/

.container-fluid{
    padding: 0px;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}