/*
*   COLOR FONS: #925279
*   COLOR FOOTER MES FOSC: #754261
*/

*{
    padding: 0;
    margin: 0;
}

.row{
    margin: 0;
    padding: 0;
}

/*FONTS*/
@font-face {
    font-family: "Poiret One";
    src: url("../fonts/PoiretOne-Regular.ttf");
}

/*Font estil handwriting pels titols*/
.font_title{
    line-height: 40px;
    font-family: 'Oswald', sans-serif!important;
    font-size: 36px;
    font-weight: normal!important;
    margin-top: 50px;
    color: #62244c;
}

/*Font pels subtitols*/
.font_subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: grey;
    margin-top: 20px !important;
}

/*Font per pàrrafs*/
.font_parraf{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: darkslategrey;
}


/*HEADER*/
#user_button{
    border: 1px solid whitesmoke;
    border-radius: 60%;
    color: whitesmoke;
    float: right;
    margin-right: 10px;
}

/*centrar  verticalment el logo i l'accés al registre*/
#first_line{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user button:hover{
    -webkit-box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41); 
    box-shadow: 1px 1px 2px 2px rgba(220,230,255,0.41);  
}

#user button i{
    font-weight: bold;
    font-size: 95%;
    color: whitesmoke;
}

#btn_search, #btn_subcr{
    color: whitesmoke;
    background-color: #925279;
    border-color: #925279;
}


/*CAROUSEL BANNER */
.carousel-caption {
    bottom: 30%;
    left: 42%;
    
}

.carousel-caption h5{
    font-family: 'Poiret One';
    font-size: 230%;
    color: #925279;
    font-weight: bolder;
    margin-bottom: 0px;
}


@media (max-width: 1078px) {
    .carousel-caption h5{
        font-size: 180%;
    }
}

@media (max-width: 870px) {
    .carousel-caption h5{
        font-size: 150%;
    }

    .carousel-caption{
        bottom: 20%;
    }
}

@media (max-width: 750px) {
    .carousel-caption h5{
        font-size: 100%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 65%;
    }
}

@media (max-width: 544px) {
    .carousel-caption h5{
        font-size: 70%;
    }

    .carousel-caption{
        bottom: 5%;
    }

    #btn_subcr{
        margin-top: 0px !important;
        font-size: 60%;
    }
}

@media (max-width: 428px) {
    .carousel-caption h5{
        font-size: 50%;
        
    }

    .carousel-caption{
        bottom: -5%;
    }

    #btn_subcr{
        font-size: 42%;
    }
}
  

.carousel-indicators{
    position: absolute;
    bottom: -36px;
}

#llib_cat, #llib_votos, #llib_nous {
    margin-left: 50px;
    margin-right: 50px;
}
  
.carousel-control-prev {
    margin-left: 0%;
}
  
.carousel-control-next {
    margin-right: 0%;
}


/*NAV CATEGORIES DESPRÉS L'SLIDE*/
#menu_categories{
    padding: 0;
}

/*falta centrar*/
#nav_content a{
    padding: 10px 20px;
    height: inherit;
}

#nav_content a:hover{
    color: whitesmoke;
}

#nav_content li{
    height: 45px;
}

#nav_content li:hover{
    background-color: #915078;
}


/*CARDS*/
.card{
    width: 200px;
    height: 425px;
    margin: auto;
    margin-top: 10%;
}

.card-title{
    min-height: 50px;
    font-size: 120%;
}

.cover_book{
    width: 199px;
    height: 250px;
    position: relative;
}

.cover_book img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.checked{
    color: orange;
}

.lookIcon{
    width: 17%;
    cursor: pointer;
}


/*FOOTER*/
footer{
    background-color: #925279;
    color: whitesmoke;
    margin-top: 3%;
}

footer p{
    margin-bottom: 0px;
    padding-top:3%;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

#copyright{
    background-color:#754261;
}

#social i{
    font-size: 120%;
    cursor: pointer;
    width: 11%;
}

#social i:hover{
    transition: all 400ms;
    transform: scale(120%);
}


/*-- Mediaqueries --*/

.container-fluid{
    padding: 0px;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}


/*Fitxa Escriptor Especificacions*/

.imatge-avatar img{
    width: 150px;
    height: auto;
}

#usuari-section{
    min-height: 300px;
    padding-top: 80px;
    padding-bottom: 20px;
}


/*estilos generales basicos guia de estilos*/
.primary{
    background-color: #915078;
    color: whitesmoke;
}

.p-light{
    background-color: #c37ea7;
    color: black;
}

.p-dark{
    background-color: #62244c;
    color: whitesmoke;
}

/*Fitxa escriptor
centra el text e la bio*/
#biografia_avatar p{
    margin: 15px;
}

#nickname-avatar h2{
    color: #c37ea7;
    font-size: 20px;
    font-weight: normal;
}

#llibres_publicats{
    margin-top: 50px;
}

#llibres_publicats img{
    float: right;
}

.boto_llegeix{
    background-color: #c37ea7;
    border-color: none!important;
    color: whitesmoke;
}

.boto_llegeix:hover{
    background-color: #62244c;
    color: whitesmoke;
}

.card-header{
    background-color: #915078;
    color: whitesmoke;
    font-weight: 500;
    font-size: 22px;
    padding: 10px 20px;
}